<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
    <ion-button strong="true" slot="end" (click)="signUp()" color="warning">
      Sign up
      <ion-icon name="arrow-forward-circle-sharp"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content">
    <form [formGroup]="credentialForm">
      <ion-item>
        <ion-input
          placeholder="Email  address"
          formControlName="email"
          autofocus="true"
          clearInput="true">
        </ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required"> Email is required</span>
        <span *ngIf="email.errors?.email"> Email is invalid</span>
      </div>

      <ion-item>
        <ion-input
          placeholder="Password"
          type="password"
          formControlName="password"
          clearInput="true">
        </ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors" >
        <span *ngIf="password.errors?.required"> Password is required </span>
        <span *ngIf="password.errors?.minlength"> Password needs to be 6 characters</span>
      </div>
    </form>

    <div >
      <ion-button (click)="signIn()" [disabled]="credentialForm.invalid" strong="true" expand="block" color="success">Sign in</ion-button>
    </div>
  </div>
</ion-content>
