<ion-app>
  <app-header></app-header>

  <ion-content class="ion-padding">
    <ion-grid *ngIf="messages">
      <ion-row *ngFor="let message of messages">
        <!--present Option-->
        <ion-col size="9" class="message" (click)="presentOption($event, message)"
                 [offset]="message.myMsg ? 3 : 0"
                 [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">
          <b>{{ message.fromName }}</b>
          <br>
          <!--file-->
          <ion-button fill="clear" color="light" *ngIf="message.file" (click)="downloadFile(message, $event)">
            <ion-icon name="document"></ion-icon>
            {{message.file}}
            <ion-spinner *ngIf="loadingForFile" color="light" name="lines-small"></ion-spinner>
          </ion-button>
          <!--voiceMessage-->
          <ion-button fill="clear" size="large" color="light"
                      *ngIf="message.voiceMessage && listenMessage !== message.id"
                      (click)="listenVoiceMessage(message, $event)">
            <ion-icon name="play-circle"></ion-icon>
            {{message.voiceMessage.msDuration  | date : 'm:s'}}
          </ion-button>

          <ion-button fill="clear" size="large" color="light"
                      *ngIf="message.voiceMessage && listenMessage === message.id"
                      (click)="pauseVoiceMessage($event)">
            <ion-icon name="pause-circle"></ion-icon>
            {{message.voiceMessage.msDuration  | date : 'm:s'}}
          </ion-button>
          <!--message-->
          <br>
          <span *ngIf="message.msg">
            {{ message.msg }}
          </span>
          <!--image-->
          <div (click)="openPhoto($event ,message.photo)" *ngIf="message.photo" class="image"
               style="background-image: url({{message.photo}})"></div>
          <div class="time ion-text-right"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>

        <!--Maps-->
            <ion-button fill="clear" color="light"
                        *ngIf="message.coordinates"
                        (click)="openLocation(message.coordinates, $event)">
              <ion-icon name="compass"></ion-icon>
              Location
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="light">
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-textarea autoGrow="true"
                        class="message-input"
                        rows="1"
                        maxLength="500"
                        [(ngModel)]="newMsg">
          </ion-textarea>
        </ion-col>

        <ion-col size="3">
          <ion-button expand="block" fill="clear" color="primary" class="msg-btn" (click)="presentActionSheet()">
            <ion-icon name="settings-sharp" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button *ngIf="!editMode" expand="block" fill="clear" color="primary" [disabled]="!newMsg"
                      class="msg-btn" (click)="sendMessage()">
            <ion-icon name="send" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button *ngIf="editMode" expand="block" fill="clear" color="primary" [disabled]="!newMsg"
                      class="msg-btn" (click)="editMessage()">
            <ion-icon name="send" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button *ngIf="editMode" expand="block" fill="clear" color="primary"
                      class="msg-btn" (click)="exitEditMode()">
            <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-app>
